:root {
    --background: #ffffff;
    --text-primary: #333333;
    --text-secondary: #666666;
    --primary: #00843D;
    --secondary: rebeccapurple;
    --border: #e0e0e0;
    --shadow: rgba(0, 0, 0, 0.1);
}

[data-theme='dark'] {
    --background: #1a1a1a;
    --text-primary: #f1f1f1;
    --text-secondary: #c5c5c5;
    --primary: #32b76c;
    --secondary: #b388ff;
    --border: #444444;
    --shadow: rgba(0, 0, 0, 0.3);
}

body {
    background-color: var(--background);
    color: var(--text-primary);
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation: none;
        transition: none;
    }
}

#__next {
    width: 100%;
    height: 100%;
}

/*animations used throughout the site*/

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.fade-in {
    animation: fadeIn .5s ease-in-out;
}

@keyframes circle-in-hesitate {
    0% {
        clip-path: circle(0%);
    }
    40% {
        clip-path: circle(40%);
    }
    100% {
        clip-path: circle(125%);
    }
}

[transition-style="in:circle:hesitate"] {
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) circle-in-hesitate both;
}